<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.vlb.darkMode</string>
    <key>ProgramArguments</key>
    <array>
		<string>/usr/local/bin/python3</string>
		<string>/usr/local/lib/darkmode.py</string>
    </array>
    <key>StartCalendarInterval</key>
        <array>
            <dict>
                <key>Hour</key>
                <integer>7</integer>
                <key>Minute</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>Hour</key>
                <integer>14</integer>
                <key>Minute</key>
                <integer>0</integer>
            </dict>
        </array>
     
</dict>
</plist>
